*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial sans-serif;
    color: #000;
}

h1 {
    margin-bottom: 5px;
    font-size: 62px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 16px;
    line-height: 1.2;
}

a {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    text-decoration: none;
    transition: all .15s ease-in-out;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.6;
}

a:hover {
    color: red;
    border-color: rgba(255, 0, 0, .1);
}

header {
    padding-top: 25px;
    margin-bottom: 60px;
}

.container {
    padding: 10px 20px;
    width: 1024px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 65% 35%;
    grid-gap: 30px;
}

.grid__left {
    grid-area: left;
}

.grid__right {
    grid-area: right;
}

.position {
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}

.exrerience-list {
    margin: 20px 0 35px;
    list-style: none;
}

.exrerience-list li {
    margin-bottom: 15px;
}

.exrerience-list p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, .8);
}

.photo {
    display: block;
    margin-bottom: 35px;
}